.directory

dotfiles/.zsh_history
dotfiles/.bash_history
dotfiles/.bash_logout

**/__pycache__/
**/env/
**/venv/

**/docker-llm-amd/models/
**/docker-llm-amd/ollama/modelfiles/

**/doradash/.DS_Store
**/doradash/__pycache__
**/doradash/.venv
**/doradash/.classpath
**/doradash/.dockerignore
**/doradash/.env
**/doradash/.git
**/doradash/.gitignore
**/doradash/.project
**/doradash/.settings
**/doradash/.toolstarget
**/doradash/.vs
**/doradash/.vscode
**/doradash/*.*proj.user
**/doradash/*.dbmdl
**/doradash/*.jfm
**/doradash/bin
**/doradash/charts
**/doradash/docker-compose*
**/doradash/compose*
**/doradash/Dockerfile*
**/doradash/node_modules
**/doradash/npm-debug.log
**/doradash/obj
**/doradash/secrets.dev.yaml
**/doradash/values.dev.yaml
**/doradash/LICENSE
**/doradash/README.md

**/homelab/**/*.secret
**/homelab/**/*_secrets.env
**/homelab/**/service-key.json
**/homelab/**/.terraform/
**/homelab/**/.terraform.lock.hcl
**/homelab/**/terraform/infrastructure/.tfvars
**/homelab/**/ip.tmp
**/homelab/**/*.passwd
**/homelab/fighter/config/ddns/ddclient/ddclient.conf

**/Jafner.dev/public/
**/Jafner.dev/resources/_gen