# Aliases
alias ls='ls --color'

# extract a video from a clip without transcoding
# takes `--start <timestamp in hh:mm:ss> 
# --duration <seconds> 
# --file '<path to file>'
alias clip='~/Nextcloud/Dotfiles/Fedora/clip.sh' 

# kills all processes related to lutris. must be adapted if steam is used instead
alias gamescopereset='kill $(ps aux | grep lutris | tr -s " " | cut -d" " -f 2)'
# restarts applications which break when pulseaudio devices restart
alias audiofix='systemctl --user restart pipewire-pulse.service'

# Get the size of a remote git repository as quickly as possible.
git-getsize() {
    echo "Cloning with --no-checkout ... "
    git clone --no-checkout "$1" && cd "$(basename "$_" .git)"
    echo "Size of LFS objects:"
    git lfs ls-files -s | cut -d' ' -f4-5
    if ! [ -z ${cleanup+x} ]; then
        unset cleanup
    fi
    while [ -z ${cleanup+x} ]; do
        read -p "Clean up the git repo? [y/n]: " yn
        case $yn in
            [Yy]*) cleanup=0 ;;
            [Nn]*) cleanup=1 ;;
            *) echo "Enter y or n" ;;
        esac
    done
}

# The jot command works like:
# jot 'Some note I would quickly take'
function jot () { if [ -z "$@" ]; then echo -e "Usage: jot 'Some note to take'\nRemember to use single quotes"; else echo "$@" | sed -e 's/^/- /' >> ~/Documents/Notes/Daily/$(date +%Y_%m_%d).md; fi }