[user]
	name = Joey Hafner
	email = jafner425@gmail.com
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://huggingface.co"]
	username = ShortSwedishMan
[core]
    editor = nano
    excludesfile = ~/.gitignore
    autocrlf = input
[color] 
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[push]
    default = simple
[pull]
    rebase = true