daemon=300
syslog=yes
pid=/var/run/ddclient/ddclient.pid
ssl=no
use=web

# jafner.net
protocol=cloudflare,        \
zone=jafner.net,            \
ttl=1,                      \
password='$TOKEN_Jafner_net',  \
jafner.net

# jafner.chat
protocol=cloudflare,\
zone=jafner.chat,\
ttl=1,\
password='$TOKEN_Jafner_chat',\
jafner.chat
