[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*;
Icon=video-mp4
X-KDE-Submenu=Run script...
Actions=extractClip;convertToAV1;convertTo264;convertToMP4;sendToZipline;ClipItAndShipIt;

[Desktop Action extractClip]
Name=Extract clip
Icon=video-mp4
TryExec=ffmpeg
Exec=file=%f; konsole -e /bin/zsh -c 'clip "%f"'

[Desktop Action convertToAV1]
Name=Convert to AV1
Icon=video-mp4
TryExec=ffmpeg
Exec=file=%f; konsole -e /bin/zsh -c 'convert-to-av1 "%f"'

[Desktop Action convertTo264]
Name=Convert to x264
Icon=video-mp4
TryExec=ffmpeg
Exec=file=%f; konsole -e /bin/zsh -c 'convert-to-x264 "%f"'

[Desktop Action convertToMP4]
Name=Remux to MP4
Icon=video-mp4
TryExec=ffmpeg
Exec=file=%f; konsole -e /bin/zsh -c 'convert-to-mp4 "%f"'

[Desktop Action sendToZipline]
Name=Send to Zipline
Icon=video-mp4
TryExec=ffmpeg
Exec=file=%f; konsole -e /bin/zsh -c 'send-to-zipline "%f"'

[Desktop Action ClipItAndShipIt]
Name=Clip it and ship it
Icon=video-mp4
TryExec=ffmpeg
Exec=file=%f; konsole -e /bin/zsh -c 'clip-it-and-ship-it "%f"'
