@import "style.css";

waybar#window {
  background-color: @base0B;
}

@define-color base00 #111349; 
@define-color base01 #332330; 
@define-color base02 #156eb2; 
@define-color base03 #66a3da;
@define-color base04 #95bede; 
@define-color base05 #e2e1ef; 
@define-color base06 #e0e3f4; 
@define-color base07 #cce8f6;
@define-color base08 #5196d1; 
@define-color base09 #5196cf; 
@define-color base0A #5796cc; 
@define-color base0B #5595d3;
@define-color base0C #5896c9; 
@define-color base0D #5795d0; 
@define-color base0E #4f96d8; 
@define-color base0F #5894d3;

* {
    font-family: "DejaVu Sans";
    font-size: 12pt;
}

window#waybar, tooltip {
    background: alpha(@base00, 1.000000);
    color: @base05;
}

tooltip {
    border-color: @base0D;
}
#wireplumber,
#pulseaudio,
#sndio {
    padding: 0 5px;
}
#wireplumber.muted,
#pulseaudio.muted,
#sndio.muted {
    padding: 0 5px;
}
#upower,
#battery {
    padding: 0 5px;
}
#upower.charging,
#battery.Charging {
    padding: 0 5px;
}
#network {
    padding: 0 5px;
}
#network.disconnected {
    padding: 0 5px;
}
#user {
    padding: 0 5px;
}
#clock {
    padding: 0 5px;
}
#backlight {
    padding: 0 5px;
}
#cpu {
    padding: 0 5px;
}
#disk {
    padding: 0 5px;
}
#idle_inhibitor {
    padding: 0 5px;
}
#temperature {
    padding: 0 5px;
}
#mpd {
    padding: 0 5px;
}
#language {
    padding: 0 5px;
}
#keyboard-state {
    padding: 0 5px;
}
#memory {
    padding: 0 5px;
}
#window {
    padding: 0 5px;
}
window .modules-left #workspaces button {
    background-color: @base07;
    color: @base00;
}
.modules-left #wireplumber,
.modules-left #pulseaudio,
.modules-left #sndio {
    background-color: @base09;
    color: @base00;
}
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    background: @base03;
}
.modules-left #workspaces button.urgent {
    background-color: @base08;
}
.modules-left #wireplumber.muted,
.modules-left #pulseaudio.muted,
.modules-left #sndio.muted {
    background-color: @base0C;
}
.modules-left #upower,
.modules-left #battery {
    background-color: @base0D;
    color: @base00;
}
.modules-left #upower.charging,
.modules-left #battery.Charging {
    background-color: @base0E;
}
.modules-left #network {
    background-color: @base0B;
    color: @base00;
}
.modules-left #network.disconnected {
    background-color: @base0C;
}
.modules-left #user {
    background-color: @base0F;
    color: @base00;
}
.modules-left #clock {
    background-color: @base03;
    color: @base00;
}
.modules-left #backlight {
    background-color: @base0E;
    color: @base00;
}
.modules-left #cpu {
    background-color: @base0B;
    color: @base00;
}
.modules-left #disk {
    background-color: @base02;
    color: @base00;
}
.modules-left #idle_inhibitor {
    background-color: @base06;
    color: @base00;
}
.modules-left #temperature {
    background-color: @base07;
    color: @base00;
}
.modules-left #mpd {
    background-color: @base02;
    color: @base00;
}
.modules-left #language {
    background-color: @base02;
    color: @base00;
}
.modules-left #keyboard-state {
    background-color: @base03;
    color: @base00;
}
.modules-left #memory {
    background-color: @base09;
    color: @base00;
}
.modules-left #window {
    background-color: @base0C;
    color: @base00;
}
window .modules-center #workspaces button {
    background-color: @base07;
    color: @base00;
}
.modules-center #wireplumber,
.modules-center #pulseaudio,
.modules-center #sndio {
    background-color: @base09;
    color: @base00;
}
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active {
    background: @base03;
}
.modules-center #workspaces button.urgent {
    background-color: @base08;
}
.modules-center #wireplumber.muted,
.modules-center #pulseaudio.muted,
.modules-center #sndio.muted {
    background-color: @base0C;
}
.modules-center #upower,
.modules-center #battery {
    background-color: @base0D;
    color: @base00;
}
.modules-center #upower.charging,
.modules-center #battery.Charging {
    background-color: @base0E;
}
.modules-center #network {
    background-color: @base0B;
    color: @base00;
}
.modules-center #network.disconnected {
    background-color: @base0C;
}
.modules-center #user {
    background-color: @base0F;
    color: @base00;
}
.modules-center #clock {
    background-color: @base03;
    color: @base00;
}
.modules-center #backlight {
    background-color: @base0E;
    color: @base00;
}
.modules-center #cpu {
    background-color: @base0B;
    color: @base00;
}
.modules-center #disk {
    background-color: @base02;
    color: @base00;
}
.modules-center #idle_inhibitor {
    background-color: @base06;
    color: @base00;
}
.modules-center #temperature {
    background-color: @base07;
    color: @base00;
}
.modules-center #mpd {
    background-color: @base02;
    color: @base00;
}
.modules-center #language {
    background-color: @base02;
    color: @base00;
}
.modules-center #keyboard-state {
    background-color: @base03;
    color: @base00;
}
.modules-center #memory {
    background-color: @base09;
    color: @base00;
}
.modules-center #window {
    background-color: @base0C;
    color: @base00;
}
window .modules-right #workspaces button {
    background-color: @base07;
    color: @base00;
}
.modules-right #wireplumber,
.modules-right #pulseaudio,
.modules-right #sndio {
    background-color: @base09;
    color: @base00;
}
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    background: @base03;
}
.modules-right #workspaces button.urgent {
    background-color: @base08;
}
.modules-right #wireplumber.muted,
.modules-right #pulseaudio.muted,
.modules-right #sndio.muted {
    background-color: @base0C;
}
.modules-right #upower,
.modules-right #battery {
    background-color: @base0D;
    color: @base00;
}
.modules-right #upower.charging,
.modules-right #battery.Charging {
    background-color: @base0E;
}
.modules-right #network {
    background-color: @base0B;
    color: @base00;
}
.modules-right #network.disconnected {
    background-color: @base0C;
}
.modules-right #user {
    background-color: @base0F;
    color: @base00;
}
.modules-right #clock {
    background-color: @base03;
    color: @base00;
}
.modules-right #backlight {
    background-color: @base0E;
    color: @base00;
}
.modules-right #cpu {
    background-color: @base0B;
    color: @base00;
}
.modules-right #disk {
    background-color: @base02;
    color: @base00;
}
.modules-right #idle_inhibitor {
    background-color: @base06;
    color: @base00;
}
.modules-right #temperature {
    background-color: @base07;
    color: @base00;
}
.modules-right #mpd {
    background-color: @base02;
    color: @base00;
}
.modules-right #language {
    background-color: @base02;
    color: @base00;
}
.modules-right #keyboard-state {
    background-color: @base03;
    color: @base00;
}
.modules-right #memory {
    background-color: @base09;
    color: @base00;
}
.modules-right #window {
    background-color: @base0C;
    color: @base00;
}

